:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --border-radius: 6px;
}
@media (max-width: 600px) {
  .yogai,
  .weatheri,
  .yogurti {
    display: none;
  }

  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 32px !important;
  }
  p {
    padding: 0px;
    text-align: center;
    font-size: 18px;
  }

  .buttoni,
  .navigation-links {
    font-size: 16px !important;
  }
  .buttoni {
    display: block;
    width: 90%;
  }
  h3 {
    font-size: 24px !important;
  }
  h4 {
    font-size: 32px !important;
    display: flex;
    justify-content: center;
  }
  .img-fluid {
    margin-bottom: 15px !important;
    margin-top: 15px;
    border-radius: var(--border-radius);
    max-width: 95%;
  }
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 96px;
}

h2 {
  padding-top: 40px;
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  padding: 20px 15px;
}
.navigation-links a,
.buttoni {
  text-decoration: none;
  text-transform: capitalize;
  border-radius: var(--border-radius);
}
.buttoni {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.contact-link,
.buttoni {
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  padding-bottom: 60px;
}

.email-link:hover {
  text-decoration: underline;
}
.app-name {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 40px;
}
.img-fluid {
  border-radius: var(--border-radius);
}
